<div class="container">
  <div class="header">
    <div class="logoBox">
      <img src="./images/layer1.png" alt="cloud" class="cloud" />
      <img src="./images/header_logo.png" alt="logo" class="logo" />
    </div>

    <div class="navigation">
      <p class="itemNav or">ORDER</p>
      <p class="itemNav ab">ABOUT</p>
      <p class="itemNav res">RESULTS</p>
    </div>
  </div>
  <div class="firstTitle">
    <h1 class="title">Pet Naturals of Vermont,</h1>
    <h1 class="title">Calming, For Cats</h1>
  </div>
  <div class="description">
    <div class="firstblock">
      <p class="descriptionText">
        Your cat deserves the best pet supplement the world has to offer. That's
        what's in the package.
      </p>

      <div class="blueBox">
        <ul>
          <li class="blueDes">Features a patented calming blend</li>
          <li class="blueDes">Doesn’t contain herbal ingredients</li>
          <li class="blueDes">Helps manage everyday stress</li>
        </ul>
      </div>
    </div>

    <div class="boxCat">
      <img src="./images/cat.png" alt="cat" class="cat" />
    </div>
  </div>

  <div class="order">
    <div class="date" id="currentDate"></div>
    <div class="timer" id="countdown">02:00:00</div>
    <img src="./images/Rectangle.svg" alt="Rectangle" class="rectangle" />
    <form action="">
      <div class="row">
        <label for="phone">Телефон:</label>
      </div>

      <input
        type="text"
        name="phone"
        id="phone-mask"
        placeholder="+38(0__)___-__-__"
      />
    </form>
  </div>
</div>
