<div class="secondBox">
  <div class="fon">
    <img src="./images/Group5.png" alt="Group5" />
  </div>
<h2 class="secondTitle">From the manufacturer</h2>
  <div class="items">
    <div class="item">
      <!-- <img src="./images/img1.png" alt="img1"> -->
      
      <div class="desItem">
        <h3>Keep Calm and Carry On</h3>
        <p>
          Are you searching for a better way to ease your pet’s separation
          anxiety or stress? Calming chews help relieve pet stress without corn,
          wheat or artificial ingredients.
        </p>
      </div>
    </div>
    <div class="item">
      <!-- <img src="./images/img2.png" alt="img2"> -->
      
      <div class="desItem">
        <h3>Peace of Mind</h3>
        <p>
          Pet Naturals of Vermont’s research-backed formula makes it safe to
          double or triple the amount in times of added stress.
        </p>
      </div>
    </div>
    <div class="item">
      <!-- <img src="./images/img3.png" alt="img3"> -->
      
      <div class="desItem">
        <h3>More than a Tasty Treat</h3>
        <p>
          Don’t let its satisfying chicken liver flavor fool you. Technically,
          Calming isn’t a treat but it sure tastes like one. Reward your best
          buddy with a Calming chew.
        </p>
      </div>
    </div>
  </div>
</div>
